<div class="space"></div>

	<h1>User info</h1>
	<% if @user.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
		<ul>
			<h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
			<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="profile-edit1">

	<%= form_for(@user) do |f| %>
	<p>Name</p>
	<%= f.text_field :name %>

	<p>Image</p>
	<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
	<label class="control-label sr-only" for="inputEmail">ProfileImage</label>
	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

	<p>Introduction</p>
	<%= f.text_area :introduction %>
	<%= f.submit'Update User' %>
	<% end %>
</div>
